<!DOCTYPE html>
<html>
  <head>
    <!--Vue.js Fundamentals | DevMarketer-->
    <!--part 5: https://www.youtube.com/watch?v=SnlJ-iXBTdM&index=5&list=PLwAKR305CRO_1yAao-8aZiQnBqJeyng4O -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.JS Tutorial | Loops: v-for</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="app">
      <h1>{{message}}</h1> 
      <ul>
        <li style="list-style-type: none" v-for="todo in todos">{{todo.id}}) {{todo.text}}</li>  <!--foreach todo(obj) in todos(array) -->
      </ul>
      <ul>
        <li style="list-style-type: none" v-for="count in count">{{count}}) Make more todos</li> <!--count in count === loop count times -->
      </ul>
    </div>
  </body>
  
  <script src="https://unpkg.com/vue@2.2.5"></script>
  
  <script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue World',
            todos: [
              { text: 'Learn Vue', id: 4 },
              { text: 'Like the video', id: 2 },
              { text: 'Subscribe channel', id: 6 }
            ],
            count: 10
        }
    });
  </script>
</html>
